body{
    margin: 0;
    background: #222;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin-top: 350px;
}
#alpha{
    color: #fff;
    text-align: center;
}
#beta{
    color: #fff;
    text-align: center;
}
#gamma{
    color: #fff;
    text-align: center;
}